extends layout

mixin list(tree)
  ul
    each file in tree
      - var type = typeof file
      if type == 'object'
        .ss-par
          ul 
            +list(file)
      else 
        .paragraphe
          #{file}

block content
  #jungle.background
  #transparent.background  
  header un header tout à fait inutile
  main
    nav.animated.bounceInLeft
      ul
        - var ind=0
        while ind < 7
          li
           i.fa.fa-arrow-right.visibility
           | chap #{ind++}  
    //#texte.parchemin
      - var n =0
      each child in tree.children
        include:markdown-it "../textes/redemption/blabla"+#{child}
        p.
          Voici le paragraphe numéro #{n}
        - n ++
    #liste!= histoire
      //each p in histoire
        - console.log("coucou")
        - console.log(p)  
         #{p}
  footer 
    i.fa.fa-home
    | du bla bla de footer
  //script console.log(!{JSON.stringify(histoire[1])})
